{% extends 'base.html' %} {% block title %} Flask Blog {% endblock title %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock styles %} {% block content %}
<div class="left">
    <div id="post-container">
        {% for post in posts %}
        <article class="post" id="{{post.id}}">
            <div class="post-image">
                <a href="/article/id"><img src="{{ post.img }}"></a>
            </div>
            <div class="main">
                <div class="top"><a href="/article/id">{{ post.title }}</a></div>
                <div class="bottom">{{ post.content }}</div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
<div class="right">
    <div id="tabs-buttons">
        {% for index in range(start_page,end_page) %}
        <a href="{{ url_for('main.home', page=index) }}" class="page {% if curr_page == index %}
            current
        {% endif %} button ">{{index}}</a> {% endfor %}
    </div>
    <ul>
        {% for post in posts %}
        <li>
            <a href="#{{post.id}}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}