.post {
    display: flex;
    padding: 0.3rem;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 0.5rem;
    margin: 1rem;
}

.post .main {
    margin-left: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.post .main .top {
    font-weight: bold;
}

.post .main .bottom {
    flex: 1;
}

.post .main .author {
    color: rgb(100, 100, 100)
}

.page {
    background-color: rgb(150, 150, 150);
    margin: 0.1rem;
}

.page.current {
    background-color: rgb(0, 97, 255);
}

.post-image img {
    width: 200px;
    height: 200px;
}


/* #post-container {
    max-width: 800px;
} */

#tabs-buttons {
    display: flex;
}

#content {
    display: flex;
    align-items: flex-start;
}

#content .left {
    flex: 4;
    justify-content: center;
    display: flex;
}

#content .right {
    flex: 1;
    margin-top: 1rem;
    padding-left: 1rem;
    border-left: 1px solid rgb(100, 100, 100);
}